.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.container .topBlob,
.container .leftBlob {
  position: absolute;
  width: 40rem;
  left: -13rem;
  top: -10rem;
}
.container .rightBlob {
  position: absolute;
  width: 35rem;
  right: -20rem;
  top: 10rem;
}
.container .bottomBlob {
  position: absolute;
  width: 60rem;
  right: -15rem;
  bottom: -28rem;
}
.container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 10px;
}
.container .content h3 {
  font-size: 5rem;
}
.container .content .form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.form_btn {
  padding: 15px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: var(--burble);
  color: var(--white);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form_btn:active {
  box-shadow: none;
}
.icon {
  background-color: var(--red);
  color: var(--white);
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  padding: 8px;
}

@media (max-width: 850px) {
  .container .topBlob,
  .container .leftBlob,
  .container .rightBlob {
    position: absolute;
    width: 32rem;
  }
  .container .bottomBlob {
    width: 40rem;
    right: -15rem;
    bottom: -15rem;
  }
  .container .content {
    width: 100%;
  }
  .form {
    width: 90% !important;
  }
}
