.button {
  display: inline-block;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: var(--red);
  z-index: 1;
  width: auto;
  background-color: #fdf3f3;
}
.icon,
.icon2 {
  background-color: var(--red);
  color: var(--white);
  width: 3rem;
  height: 2rem;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
}
.wallet {
  background: rgb(90, 51, 146);
  background: linear-gradient(
    90deg,
    rgba(90, 51, 146, 1) 0%,
    rgba(248, 17, 64, 1) 100%
  );
  border-radius: 15px;
  padding: 12px;
  color: var(--white);
  width: 100%;
}

.icon2 {
  background-color: var(--pink);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  margin: 20px auto;
  transition: transform 0.2s;
}

.card {
  position: relative;
}

.card_image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.play {
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--red);
  transition: 0.5s;
}
.card:hover {
  transform: scale(1.05);
}
.card:hover .card_image {
  filter: blur(3px);
}
.card:hover .play {
  width: 30%;
  height: 30%;
  cursor: pointer;
}
@media (min-width: 1100px) {
  .wallet {
    width: 80%;
  }
}
.mainImage {
  width: 600px;
  height: 400px;
}
@media (max-width: 769px) {
  .mainImage {
    width: 375px;
    height: 400px;
  }
}
