.logo {
  background: #121fcf;
  background: linear-gradient(to right, #323590 0%, #ee4353 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7.5rem;
}
.links a {
  text-decoration: none;
  background: var(--burble);
  font-size: 1.5rem;
  color: var(--white);
  padding: 7px 15px;
  border-radius: 7px;
  text-align: center;
}
.icon {
  background-color: var(--red);
  color: var(--white);
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  padding: 8px;
}
