.button {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: var(--white);
  z-index: 1;
  margin: 6px auto;
  width: auto;
  background-color: var(--burble);
}
.link {
  color: black;
  font-weight: normal;
  font-size: 1.1rem;
}
.active {
  color: var(--red);
  font-weight: bold;
  font-size: 1.12rem;
}
.active:hover {
  color: var(--red);
}
