.button {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: var(--white);
  z-index: 1;
  margin: 6px auto;
  width: auto;
  background-color: var(--burble);
}
.link,
.link:hover {
  color: white;
  font-weight: normal;
  font-size: 1.1rem;
}
.active {
  color: var(--red) !important;
  font-weight: bold;
  font-size: 1.12rem !important;
}
.active:hover {
  color: var(--red) !important;
}
.userData {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.userName {
  text-transform: capitalize;
  font-size: 16px;
  max-width: 150px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  color: black;
}
.userName:hover {
  text-decoration: none;
  color: black;
}
.userImage {
  width: 40px;
  border-radius: 10px;
}
.userImage img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}
.favIcon {
  padding: 10px;
  background-color: #dadcdf;
  border-radius: 50%;
}
/* search  */
