.icon2 {
  padding: 5px;
  cursor: pointer;
  background-color: var(--pink);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: white;
}
.rejApp,
.rejApp2 {
  padding: 15px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: var(--burble);
  color: var(--white);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rejApp {
  background-color: var(--white);
  color: var(--black);
}
.rejApp:active,
.rejApp2:active {
  box-shadow: none;
}
.campaign_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.campaign_description {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
