body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --white: #f3f3f3;
  --pink: #f1737b;
  --blue: #323590;
  --red: #ee4353;
  --burble: #5a3392;
}
textarea {
  resize: none;
}
.swiper-pagination-bullet-active {
  background-color: var(--pink) !important;
  width: 16px !important;
  border-radius: 6px !important;
  transition: 0.3s !important;
}
.swiper-button-prev,
.swiper-button-next {
  color: var(--red) !important;
  width: 100px !important;
  height: 100px;
}
.swiper-button-disabled {
  color: var(--burble) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 4rem !important;
}
.active {
  color: var(--red);
  font-weight: bold;
  font-size: 1.12rem;
}
.active:hover {
  color: var(--red);
}
