.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
}
.container .topBlob,
.container .leftBlob {
  position: absolute;
  width: 40rem;
  left: -13rem;
  top: -10rem;
}
.container .rightBlob {
  position: absolute;
  width: 35rem;
  right: -20rem;
  top: 10rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ededed91;
  border-radius: 13px;
  box-shadow: 1px 2px 20px #4b4b4b;
  padding: 2rem;
  max-width: 85vw;
  z-index: 10;
}
.content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.input {
  border-radius: 8px;
  border: 1px solid #555;
  outline: 0 !important;
  padding: 10px;
  margin-bottom: 1rem;
  width: 100%;
}
.submit,
.reset {
  padding: 15px 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background: var(--burble);
  color: var(--white);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 1rem;
}
.submit:active,
.reset:active {
  box-shadow: none;
}
.reset {
  background-color: var(--white);
  color: var(--burble);
}
.phoneInput input {
  width: 100% !important;
}

@media (max-width: 767px) {
  .blobs {
    flex-direction: column;
    align-items: center;
    margin-bottom: -3rem; /* Adjust to move blobs closer/farther from content */
  }
  .blobs svg {
    width: 60%;
    max-width: 16rem;
    margin-bottom: -2rem; /* Adjust to move blobs closer/farther from content */
  }
  .content {
    width: 90vw;
  }
  .content h3 {
    font-size: 1.5rem;
  }
}
